@import "../../../styles/variables.scss";

.button-ui {
  background-color: transparent;
  border: 1px solid $primary-text-color;
  border-radius: 1.5rem;
  padding: 0.87rem;
  color: #ffffff;
  display: flex;
  gap: 0.5rem;
}

.primary-button {
  background-color: $primary-color;
  border: 1px solid transparent;

}