@import "../../../styles/variables.scss";
@import "../../../styles/maxins.scss";

.action-buttons {
	position: absolute;
	right: 2rem;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	gap: 0.87rem;

	@include mediaMax($lg) {
		:nth-child(2), :nth-child(3) {
			display: none;
		}
	}
}
