@import "../../../styles/variables.scss";
@import "../../../styles/maxins.scss";

.action-buttons {
	position: absolute;
	right: 2rem;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	gap: 0.87rem;

	@include mediaMax($lg) {
		button:nth-child(2), button:nth-child(3) {
			display: none;
		}
	}

	button {

		@include mediaMax($lg) {
			width: 36px;
			height: 36px;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			svg {
				width: 100%;
			}

			span {
				display: none;
			}
		}
	}

	.mobile-menu-buttons {
		display: none;

		@include mediaMax($lg) {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}
	}
}
