@import "./variables.scss";
@import "./maxins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $primary-color $bg-color;
}
body {
  font-family: $primary-font;
  color: $primary-text-color;
  font-size: 16px;

  @include mediaMax($lg) {
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
    color: $primary-text-color;
  }

  .container {
    max-width: 1640px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;

    @include mediaMax($xl) {
      max-width: 1200px;
    }

    @include mediaMax($lg) {
      padding: 0;
    }
  }
}
