$primary-color: #478BF9;
$secondary-color: #1E1231;
$primary-text-color: #ffffff;
$bg-color: #110A1D;

$primary-font: "Lexend", sans-serif;

$xs: 0;
$sm: 650px;
$md: 850px;
$lg: 1150px;
$xl: 1350px;
$xxl: 1450px;
$xxxl: 2000px;