@import "../../styles/variables.scss";
@import "../../styles/maxins.scss";

.logo-slides-desktop-wrapper {

  .slick-slider .slick-list {
    height: 78vh !important;

    @include mediaMax($xxxl) {
      height: 76vh !important;
    }

    @include mediaMax($lg) {
      height: auto !important;
      svg {
        width: 5rem;
        height: 5rem;
      }
    }

    @include mediaMax($md) {
      svg {
        width: 4rem;
        height: 4rem;
      }
    }

    @include mediaMax($sm) {
      svg {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}