@import "../../styles/variables.scss";
@import "../../styles/maxins.scss";

.footer {
  align-self: end;
  border: 4px solid $primary-color;
  border-bottom-width: 0;
  border-radius: 4rem 4rem 0 0;
  min-height: 8rem;
  display: grid;
  padding: 2rem 0;

  @include mediaMax($xl) {
    min-height: 5rem;
    border-radius: 3rem 3rem 0 0;
  }

  .social-medias-title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0.8rem 0;

    @include mediaMax($lg) {
      justify-content: flex-start;
    }
  }

  .footer-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
    justify-content: space-between;
    gap: 1rem;

    @include mediaMax($lg) {
      align-items: flex-start;
      @include paddingForMobiles;
    }

    @include mediaMax($md) {
      grid-template-columns: 1fr;
    }

    .footer-links {
      display: flex;
      gap: 2.5rem;
      list-style: none;
      list-style-type: none;

      @include mediaMax($lg) {
        flex-direction: column;
        gap: 0.6rem;
      }
    }

    .social-wrapper {
      width: 100%;
      align-self: end;
    }

    .social-medias-icon {
      display: flex;
      gap: 0.5rem;
      position: relative;
      justify-content: flex-end;

      @include mediaMax($lg) {
        justify-content: space-between;
      }

      svg {
        cursor: pointer;

        :hover {
          path:nth-child(1) {
            fill: #ffffff;
          }
        }
      }
    }
  }
}