@import "../styles/variables.scss";

.main-layout-wrapper {
  background-color: $bg-color;
  min-height: 100vh;
  display: grid;
  align-content: space-between;
  grid-template-rows: 1fr auto;
  position: relative;

  .dot-light-1 {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
  }

  .dot-light-2 {
    position: absolute;
    width: 100%;
    height: auto;
    right: 0;
    bottom: 0;
  }

  .main-layout {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}